@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.projects-section {
  background: radial-gradient(circle at top, #077a7d, #000000 60%);
  color: white;
  padding: 60px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed from center to flex-start */
}

.main-heading {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
